@import "colors";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  position: relative;
  background-color: $primary2;
  scroll-behavior: smooth;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding-top: 5vh;
}
body {
  position: relative;
  left: 0;
  width: 100vw;
  height: 630vh;
}

.btn-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn {
  min-width: 150px;
  padding: 10px 20px;
  border-radius: 1.5em;
  background-color: transparent;
  margin: 20px;
  border: solid 2px $primary1;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  position: relative;
  a {
    z-index: 1000;
    position: relative;
    text-decoration: none;
  }
}
.btn:after {
  content: "";
  width: 0%;
  height: 100%;
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 1.5em;
  z-index: 2;
  transition: all 0.5s ease-out;
  opacity: 0;
}
.btn:hover:after {
  width: 100%;
  opacity: 1;
}

.btn--primary {
  border: solid 2px $primary1;
  a {
    color: $primary1;
  }
}
.btn--secondary {
  border: solid 2px $secondary2;
  a {
    color: $secondary2;
  }
}
.btn--ternary {
  border: solid 2px $ternary2;
  a {
    color: $ternary2;
  }
}

// fonts
h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 1.7em;
  font-family: "Roboto Condensed", sans-serif;
  // margin: 15px;
}
h3 {
  font-size: 1em;
}
h2,
h3,
p,
li {
  line-height: 130%;
}

// sections
.page {
  // scroll-snap-align: start;
  scroll-snap-align: start;
  background-color: $primary2;
  transition: all 0.2s ease-out;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.home {
  font-family: "Roboto Condensed", sans-serif;
  // background-color: $primary2;
  color: $primary1;
  z-index: 0;
}

.about {
  // background-color: $secondary1;
  color: $secondary2;
  z-index:-1;
}

nav {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1000;
}

.menu {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  font-size: 1.2em;
}

.menu--item {
  a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.2em;
    position: relative;
    &:before{
      content: " ";
        border-bottom: solid 2px white;
        width: 0%;
        z-index: 200;
        height: 3px;
        bottom: 0;
        left: 50%;
        position: absolute;
        transition: all 0.5s;
    }
    &:after{
      content: " ";
        border-bottom: solid 2px white;
        width: 0%;
        z-index: 200;
        height: 3px;
        bottom: 0;
        right: 50%;
        position: absolute;
        transition: all 0.5s;
    }
    &:hover {
      &:after {
        width: 45%;
      }
      &:before {
        width: 45%;
      }
    }
  }
}

.menu--item,
.menu--logo {
  margin-top: 10px;
  list-style-type: none;
  fill: #ffffff !important;
}

.down {
  font-size: 2em;
  animation: bounce 2s ease-in-out infinite;
  grid-area: 6/4/7/5;
  text-align: center;
  a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
}
//home page details
.home--down {
  a {
    color: $primary1;
  }
}

.home--text {
  grid-area: 3/2/6/5;
}
.home--img {
  grid-area: 2/5/5/7;
  margin: 50px;
  img {
    height: 50vh;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-30%);
  }
  50% {
    transform: translateY(0);
  }
  55% {
    transform: translateY(-2%);
  }
  60% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

//about page details
.about--title {
  font-family: "Roboto Condensed", sans-serif;
  margin-left: 50px;
  grid-area: 3/1/4/3;
}
.about--text {
  font-size: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-family: "Roboto Condensed", sans-serif;
  grid-area: 2/4/5/7;
  line-height: 150%;
  position: relative;
}
.about--down {
  a {
    color: $secondary2;
  }
}
.about--img {
  grid-area: 2/2/5/4;
  margin-left: 40px;
  img {
    // height: 30vh;
    // max-height: 400px;
    width: 20vw;
    min-width: 250px;
  }
}
.underline:before {
  content: " ";
  position: absolute;
  background-color: white;
  opacity: 0;
  padding: 10px;
  width: 0;
  z-index: -1;
  height: 10%;
}

.project--title--right {
  grid-area: 2/5/3/8;
}
.project--text--right {
  grid-area: 3/5/6/8;
  margin-right: 50px;
  font-size: 1.1em;
}
.project--btn--right {
  grid-area: 6/5/7/8;
  margin-right: 50px;
}
.project--img--right {
  grid-area: 2/1/6/5;
  margin-left: 50px;
  img,
  video {
    height: 40vh;
    border-radius: 0.5em;
  }
}

.project--img--multiple {
  grid-area: 2/4/6/8;
  margin-left: 75px;
  position: relative;
  width: 45vw;
  height: 40vh;
  img, video {
    object-fit: contain;
    width: 100%;
  }
}
/* no circle */
.flickity-button {
  background: transparent !important;
}

.flickity-page-dots {
  bottom: -100px !important;
}

.project--title--left {
  grid-area: 2/1/3/4;
  margin-left: 50px;
}

.project--text--left {
  grid-area: 3/1/6/4;
  margin-left: 50px;
  font-size: 1.1em;
}

.project--btn--left {
  grid-area: 6/1/7/3;
  margin-left: 50px;
  margin-top: -50px;

}

.project--img--left {
  grid-area: 2/5/5/8;
  margin-right: 50px;
  img,
  video {
    height: 40vh;
    border-radius: 0.5em;
  }
}

.project--img--multiple--left {
  grid-area: 2/1/4/4;
  margin-left: 75px;
  position: relative;
  position: relative;
  width: 45vw;
  height: 40vh;
  img {
    object-fit: contain;
    width: 100%;
  }
}

//project1
.project1 {
  background-color: $ternary1;
  color: $ternary2;
  z-index: 2;
}

//project2
.project2 {
  background-color: $secondary1;
  color: $secondary2;
  z-index: 1;
}

//project3
.project3 {
  background-color: $primary2;
  color: #ffffff;
  z-index: 4;
}

//project4
.project4 {
  background-color: $ternary1;
  color: $ternary2;
}

.project1,
.project2,
.project3,
.project4 {
  font-family: "Roboto Condensed", sans-serif;
}

//contact page

.contact {
  height: 50vh !important;
  background-color: $primary2 !important;
  color: $secondary2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: -1px -1px 20px #474141;
}
.contact--title {
  font-family: "Abril Fatface", cursive;
  margin-left: 50px;
  grid-area: 3/1/4/3;
}
.contact--final {
  color: $ternary2;
}
.contact--final--high {
  color: whitesmoke;
}

.footer {
  height: 10vh;
  color: $ternary2;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer--sep {
  width: 300px;
  height: 0.5px;
  background-color: $ternary2;
}

.contact--textbox {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.contact--links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.3em;
}

.contact--form {
  font-size: 1.2em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  .form--container {
    width: 800px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: solid 2px $ternary2;
    border-radius: 1.5em;
    background-color: #ffffff;
  }
  input {
    padding: 5px;
    width: 300px;
    height: 40px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 0.7em;
    background-color: transparent;
    color: $ternary2;
    border: none;
    &::placeholder {
      color: grey;
    }
    &:nth-child(1) {
      border-right: solid 2px $ternary2;
    }
    &:nth-child(2) {
      width: 500px;
    }
  }
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact--links--flex {
  display: flex;
  align-items: center;
}

.contact--icons {
  fill: $ternary2;
  transition: all 3s ease-out;
}
.contact--icon {
  height: 40px;
  width: 40px;
  border-radius: 2em;
  border: solid 2px $ternary2;
  z-index: 100;
  transition: all 0.1s ease-out;
  background-color: $primary2;
  &:hover {
    background-color: $ternary2;
    .contact--icons {
      fill: white;
    }
  }
}

@media only screen and (max-width: 600px) {
  body, html{
width: 100vw;
overflow-x: hidden;
  }
  img,
  video, .project--img--multiple, .project--img--multiple--left {
    display: none;
  }
  h1 {
    font-size: 2em;
    margin-top: 15px;
  }
  h2,
  td {
    font-size: 1em;
    font-family: "Roboto Condensed", sans-serif;
    margin: 10px;
  }
  .about--text {
    font-size: 1em;
  }
  h2,
  h3,
  p,
  li {
    line-height: 130%;
  }
  .project--title--left,
  .project--title--right,
  .about--title,
  .contact--title {
    grid-area: 1/2/2/8;
  }
  .project--text--left,
  .project--text--right,
  .about--text {
    grid-area: 2/2/5/7;
  }
  .project--btn--right,
  .project--btn--left {
    width: 90vw;
    grid-area: 6/1/7/6 !important;
    margin-top: 0 !important;
  }
}
